//color palette
@darkred: #dc1928;

//Theme
@primary-color: @darkred;

//component specific colors

//search input
@search-input-border-color: darkgray;
@search-input-border-top-color: #e1deda;
@search-input-background-color: #fff;
@search-input-focus-background-color: #fff;
@search-input-focus-border-color: #d7d2cb;
@search-input-focus-outline-color: gray;

//search button
@search-btn-border-color: #dc1928;
@search-btn-color: #fff;
@search-btn-hover-color: #bc111e;

//error message
@error-message-color: @primary-color;

//suburbs list
@result-card-active-color: #fff;
@result-card-bg-color: #fff;
@result-card-bg-color-active: @primary-color;
@result-card-hover-color: #F0F0F0;

//app component
@suburb-selected-border-left-color: gray;

