//color palette
@darkred: #dc1928;

//Theme
@primary-color: @darkred;

//component specific colors
@result-card-bg-color: whitesmoke;
@result-card-bg-color-active: @primary-color;
@error-message-color: @primary-color;
@result-card-hover-color: lightgray;
@search-btn-border-color: #dc1928;
@search-btn-hover-color: #bc111e;
