<div class="searchComponent">
  <form class="searchForm" name="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="searchInputWrapper">
      <input id="postcode" class="searchInput" aria-label="Search" maxlength="4" placeholder="Enter Postcode here.."
        formControlName="postcode" name="postcode" />
      <div class="searchButtonContainer">
        <button class="searchButton" type="submit" name="search" class="searchButton">
          Search
        </button>
      </div>
    </div>
    <span class="errorMessage" *ngIf="
        !searchForm.valid &&
        !searchForm.pristine &&
        isFormSubmitted &&
        postcode.value
      ">
      Please enter a valid postcode
    </span>
  </form>
</div>
