<mat-card class="list-group-item" *ngFor="let suburb of suburbsPaginated; let i = index" [attr.viewType]="viewType"
  (click)="onSuburbSelect(suburb)" [class.active]="isSuburbSelected(suburb)" href="javascript:;"
  [class.disabled]="false"
  [attr.title]="viewType == 'SEARCH_RESULTS' ?  'Click to see suburbs within 4km of ' + suburb.name: ''">
  <app-suburb-item [suburb]="suburb"></app-suburb-item>
</mat-card>

<div class="paginationContainer">
  <mat-paginator [length]="length" [pageSize]="10"> </mat-paginator>
</div>
